/* navigation */
#navbar {
  flex-direction: column;
}
#navbar #logo img {
  width: 52px;
  padding: 0px 10px;
  margin-top: 3px;
}
#logo {
  padding: 0px 10px;
}
#navbar li a {
  padding: 0px 6px;
  margin-bottom: 4px;
  font-size: 0.9rem;
}

/* home section */
#home {
  height: 416px;
  padding: 2px 12px;
}
#home::after {
  height: 61%;
}
#home::before {
  height: 61%;
}

/* services */
.services div {
  flex-direction: column;
}

/* clients */
.clients div {
  flex-wrap: wrap;
}

/* contact form  */
.contact-form {
  padding: 0px 33px;
}
.contact-form form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";
}
.contact-form form input{
    font-size: 1.1rem;
}
.contact-form form textarea{
    font-size: 1.1rem;
}

/* footer */
footer{
    font-size: 0.9rem;
}

/* utilities */
.h-primary {
  font-size: 1.8rem;
}
.h-secondary {
  font-size: 1.3;
}
